<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PDF BUDDY</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap" rel="stylesheet">
  <link rel ="stylesheet" type = "text/css" href = " ../Public/CSS/STYLE.CSS">
  <link rel="stylesheet" type = "text/css" href="../PUBLIC/css/bootstrap.css">
  <link rel="stylesheet" type = "text/css" href="../PUBLIC/css/bootstrap.min.css">
  <link rel="stylesheet" type = "text/css" href="../PUBLIC/css/bootstrap.min.css.map">
  <link rel="stylesheet" type = "text/css" href="../PUBLIC/css/bootstrap-theme.css.map">
  <link rel="stylesheet" type = "text/css" href="../PUBLIC/css/bootstrap-theme.css">
  <link rel="stylesheet" type = "text/css" href="../PUBLIC/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type = "text/css" href="../PUBLIC/css/bootstrap-theme.min.css.map">
  <link rel="stylesheet" type = "text/css" href="../PUBLIC/css/bootstrap.css.map">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  </head>

  <style>
  h1{
  color:#71c55d ; 
  -webkit-margin-top-collapse:40%;}
  #one
  {background-color:black; 
  display:inline-block;
  margin-left: -3px;}

  #two{
  background-color: aqua;
  display:inline-block;}

  #menu li{
      display:inline;
      margin-left: lem;
      color:black;}    
   #menu a{
       text-decoration: none;
   }

   .jumbotron{
     background-color: aqua;
   }
    </style>
    <body>
        <div class="container">

            <div id="logo" class="pull-left">
              <h1><a href="#body" class="scrollto"></a><span>PDF</span> BUDDY</a></h1>
              
              <a href="#body"><img src="img/logo.png" alt="" title="" /></a>
            </div>
      
        <div id ="menu">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li class="menu-active"><a href="#hero">HOME</a></li>
                  <li><a href="C:\Users\SHIVAM\Desktop\PROJECT\PDF FINDER\VIEW\about.html">ABOUT</a></li>
                  <li><a href="C:\Users\SHIVAM\Desktop\PROJECT\PDF FINDER\VIEW\service.html">RECOMMENDATION</a></li>
                  <li><a href="C:\Users\SHIVAM\Desktop\PROJECT\PDF FINDER\VIEW\training.html">SEARCH</a></li>
                  <li><a href="#team">TEAM</a></li>
                  <li class="menu-has-children"><a href="">CATEGORY</a>
                    <ul>
                      <li><a href="#">Drop Down 1</a></li>
                      <li><a href="#">Drop Down 3</a></li>
                      <li><a href="#">Drop Down 4</a></li>
                      <li><a href="#">Drop Down 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#blog">BLOG</a></li>
                  <li><a href="#contact">CONTACT</a></li>
                </ul>
              </nav>
        </div>
        
    <div id = "one"  style ="width:400px;height:400px;">
    <h1>One</h1>
    </div>

    <div id ="two" style ="width:400px;height:400px;">
        <h1>Two</h1>

    </div>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <img src="../PUBLIC/img/book1.jpg">
  </div>
  <div class="col-md-6 col-md-oofset-2">
     <p style="yuiop">S.P.E.L.T (SOCIAL,POLITICAL,ECONOMICAL, LEGAL AND TECHNOLOGICAL)

        Starting with SOCIAL affect: People think of plastic as very bad to our environment yes it is true indeed, but some facts which will make it hard to ban plastics would be that socialy plastic is used at a very large scall polly bags are the main ones to be used by people in india. Moreover garbage disposal is also done in polly bags only. So banning plastics would be a straight downfall of percentage in garbage disposal, people will not use cloth or paper bags for throwing garbage niether will they use dustbins for disposal because in a household whole garbage is collected and thrown in each day so no one will use there own dustbins without having a pollybag in it.
        
        Coming to the POLITICAL affect: Politcally banning plastics can be used as great point to gather vote and it would be appreciable everywhere just like cashless economy but as we know cashless economy was not a great success. people was not ready to accept the change, same goes with the banning as well.
      
</div>

<div class="row">
    <div class="col-md-6">
      <p>S.P.E.L.T (SOCIAL,POLITICAL,ECONOMICAL, LEGAL AND TECHNOLOGICAL)

          Starting with SOCIAL affect: People think of plastic as very bad to our environment yes it is true indeed, but some facts which will make it hard to ban plastics would be that socialy plastic is used at a very large scall polly bags are the main ones to be used by people in india. Moreover garbage disposal is also done in polly bags only. So banning plastics would be a straight downfall of percentage in garbage disposal, people will not use cloth or paper bags for throwing garbage niether will they use dustbins for disposal because in a household whole garbage is collected and thrown in each day so no one will use there own dustbins without having a pollybag in it.
          
          Coming to the POLITICAL affect: Politcally banning plastics can be used as great point to gather vote and it would be appreciable everywhere just like cashless economy but as we know cashless economy was not a great success. people was not ready to accept the change, same goes with the banning as well.
          
        
    </div>
    <div class="col-md-6">
        <img src="../PUBLIC/img/book1.jpg">
    </div>
  </div>
  </div>

  <div class="jumbotron">
    <p style="font-family: 'Aguafina Script', cursive">
        use LinkedIn on daily basis and regularly I see many job seekers getting their desired jobs with good salaries.

        Many people who didn’t had job for months got interview mails just hours after posting for job search and many of them succed in getting them.
        
        The main key to get a job is to connect with the people who are in the fields similar to your profession.
        
        Post regularly about things that you find interesting and related to your profession so, by this you’ll get noticed by people who have similar interests.
        
        Like and Comment on posts of other LinkedIn users t
    </p>
  </div>
</div>
    </body>
</html>